* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'BowlbyOneSC-Regular';
    src: url(fonts/BowlbyOneSC-Regular.ttf);
    font-weight: regular;
}

video {
    object-fit: fill;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: 100vh;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
}

#pozoUnidad {
    font-size: 122pt;
    font-family: 'BowlbyOneSC-Regular', sans-serif;
    color: #FFF;
    left: 32%;
    top: 30%;
    position: absolute;
}

#millones {
    font-size: 40pt;
    font-family: 'BowlbyOneSC-Regular';
    color: #FFF;
    left: 10%;
    top: 30%;
    position: absolute;
}




/* 768x320 */
@media only screen and (max-width: 768px) {

    #millones {
        font-size: 69pt !important;
        font-family: 'BowlbyOneSC-Regular';
        color: #FFF !important;
        left: 2%;
        top: 39%;
        font-style: normal;
        position: absolute;
    
    }
    #hour {
        font-size: 30pt !important;
        font-family: 'BowlbyOneSC-Regular';
        color: #FFF !important;
        left: 42%;
        top: 50%;
        font-style: normal;
        position: absolute;
    
    }

}
/* 600x810 */

@media only screen and (max-width: 600px) {
    #millones {
        font-size: 70pt !important;
        font-family: 'BowlbyOneSC-Regular';
        color: #FFF !important;
        left: 4%;
        top: 5%;
        font-style: normal;
        position: absolute;
    }
    #hour {
        font-size: 28pt !important;
        font-family: 'BowlbyOneSC-Regular';
        color: #FFF !important;
        left: 58%;
        top: 9%;
        font-style: normal;
        position: absolute;
    
    }
}